/* general */
body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  text-align: left;
  align-items: center;
}


.logo-container {
  text-align: left;
}

/* main container */
.container {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

/* img */
img {
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

/* jumbotron */
.jumbotron {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 40px 20px;
  text-align: center;
}

/* jumbotron img */
.jumbotron img {
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

/* basic button styling */
.button {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.button-container {
  width: 50%;
}

.button:hover {
  background-color: black;
  color: white;
}

/* specific buttons */
.counter-button {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.counter-button:hover {
  background-color: black;
  color: white;
}


.strike-button {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.strike-button:hover {
  background-color: black;
  color: white;
}

#strike-count {
  font-size: 30px;
}

.ball-button {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#ball-count {
  font-size: 30px;
}

.ball-button:hover {
  background-color: black;
  color: white;
}

.end-session-button {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.end-session-button:hover {
  background-color: black;
  color: white;
}


.btn {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: black;
  color: white;
}




.past-sessions-button {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.past-sessions-button:hover {
  background-color: black;
  color: white;
}






/* container for counters */
.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  width: 90%;
}

/* strikezone container */
.strikezone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;

}

/* strikezone layout */
.strikezone-row {
  display: flex;
  justify-content: center;
  margin: none;
}

.strikezone-box {
  width: 80px;
  height: 80px;
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.strikezone-box:hover {
  background-color: black;
  color: white;
}

/* containers for buttons */
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap; /* Ensure buttons wrap on smaller screens */
  width: 90%;
}

/* headings */
h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #000000;
}

/* session info container */
.session-info-container {
  width: 90%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin: 10px auto;
}

/* input field */
#session-name {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

/* links */
a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* horizontal rule*/
hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 20px 0;
}


th, td {
  white-space: nowrap; 
}
.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 600px;
}





/* iPhone */
@media (max-width: 390px) and (max-width: 844px){
  .row {
      display: flex;
      flex-direction: column;
      gap: 20px;
  }

  .col-sm-6 {
      flex: 1;
      width: 100%;
  }

  .page-header {
      flex-direction: column;
      gap: 10px;
  }

  .strikezone {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
  }

  .strikezone-box {
      font-size: 14px;
      padding: 15px;
  }

  

  .counter-button {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .end-session-button {
      width: 100%;
  }


  .modal-content {
    width: 90%; 
}



.logo-container {
  text-align: left;
}
.table-responsive {
  overflow-x: auto; /* enables horizontal scrolling */
  width: 100%; 
}

.table {
  font-size: 0.4rem; /* reduces table font size */
  width: 100%; /* ensures table fits the container */
}

th, td {
  padding: 5px; 
  text-align: center; 
  white-space: nowrap; 
}





}



/* iPad */
@media (max-width: 768px) and (max-width: 1024px){
  
  /* jumbotron container */
.jumbotron {
  background-color: white;
  border-radius: 5px;
  padding: 40px 20px;
  text-align: center;
}
  
  /* main container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
  
  
  
  
  .row {
      display: flex;
      flex-direction: column;
      gap: 20px;
  }

  .col-sm-6 {
      flex: 1;
      width: 100%;
  }

  .page-header {
      flex-direction: column;
      gap: 10px;
  }

  .strikezone {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
  }

  .strikezone-box {
      font-size: 14px;
      padding: 15px;
  }

  

  .counter-button {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .end-session-button {
      width: 100%;
  }


  .modal-content {
    width: 100%; 
}
th, td, tr {
    font-size: 2.5rem; 
}


}

/* MacBook Pro */
@media (min-width: 900px) and (max-width: 1440px) {
 /* jumbotron container */
.jumbotron {
  background-color: white;
  border-radius: 5px;
  padding: 30px 20px;
  text-align: center;
}
  
  /* main container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
  
  
  
  
  .row {
      display: flex;
      flex-direction: column;
      gap: 20px;
  }

  .col-sm-6 {
      flex: 1;
      width: 90%;
  }

  .page-header {
      flex-direction: column;
      gap: 10px;
  }

  .strikezone {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
  }

  .strikezone-box {
      font-size: 14px;
      padding: 15px;
  }

  

  .counter-button {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .end-session-button {
      width: 100%;
  }


  .modal-content {
    width: 100%; 
}
th, td, tr {
    font-size: 2.5rem; 
}


}